.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
dist
build
*.spec
*.exe
*.bat
SpotPlayer-v1.0.apk
archive
CalculPoutreWinForms
SolidWorksGearAddIn
flappy-bird
leboncoin-ai-agent
sourdough-calculator
spotplayer
tools
